<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="trainedge.projectq">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".LoginPage"
            android:label="@string/title_activity_login_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Topic__Grid" />
        <activity android:name=".Player">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity android:name=".Add_quiz" />
        <activity android:name=".Add_picture" />
        <activity android:name=".AddConfirmation" />
        <activity
            android:name=".FirstActivity"
            android:label="@string/title_activity_first"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name="com.yongchun.library.view.ImageSelectorActivity" />
        <activity android:name="com.yongchun.library.view.ImagePreviewActivity" />
        <activity android:name="com.yongchun.library.view.ImageCropActivity" />

    </application>

</manifest>